<a href="https://colab.research.google.com/github/Rushi12bhalkar/Numpy-Liberary--Python-Data-Science-/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy

**Introduction to NumPy**
* NumPy is the fundamental package for scientific computing with Python.
* NumPy stands for Numerical Python.
* Supports N-dimensional array objects that can be used for processing multidimensional data.
* Supports different data-types.

**Array**

* An array is a data structure that stores values of same data type.
* Lists can contain values corresponding to different data types.
* Arrays in python can only contain values corresponding to same data type.

In [1]:
cars = ["Ford", "Volvo", "BMW"]
print (cars)
print (type(cars))

['Ford', 'Volvo', 'BMW']
<class 'list'>

In [ ]:
x = cars[0]
print (x)

Ford

In [ ]:
x = len(cars)
print (x)

3

In [ ]:
cars.append("Honda")    # Adding Array Elements
print (cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [ ]:
cars.pop(1)             # Removing Array Elements
print (cars)

['Ford', 'BMW', 'Honda']

**Array Methods**

![image.png]()

**NumPy Array**

* A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. 
* The number of dimensions is the rank of the array.
* The shape of an array is a tuple of integers giving the size of the array along each dimension.

In [ ]:
MyArray = [1,2,3,4,5,6]
print (MyArray)
print (type(MyArray))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
import numpy as np

[1 2 3 4 5 6]
<class 'numpy.ndarray'>

In [ ]:
array = np.array(MyArray, dtype = int)
print (array)
print (type(array))

[1 2 3 4 5 6]
<class 'numpy.ndarray'>

In [ ]:
print (len(array))
print (array.ndim)
print (array.shape)

6
1
(6,)

In [ ]:
array2 = array.reshape(3,2)
print (array2)
array2.shape

[[1 2]
 [3 4]
 [5 6]]

(3, 2)

In [ ]:
array3 = array.reshape(3,-1)
print (array3)
array3.shape

[[1 2]
 [3 4]
 [5 6]]

(3, 2)

In [ ]:
# Creating numpy arrays from nested python lists
import numpy as np
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = [11,12,13,14,15]

mul_arr = np.array([list1, list2, list3])

print (mul_arr)
print (mul_arr.shape)
mul_arr.reshape(1,15)

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]
(3, 5)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [ ]:
a = np.array([[1,2,3],[4,5,6]])
print(a)
print (a.shape)

[[1 2 3]
 [4 5 6]]
(2, 3)

In [ ]:
a.shape = (3,2)     # Reshaping the ndarray
print(a)

[[1 2]
 [3 4]
 [5 6]]

In [ ]:
b = a.reshape(3,2)
print (b)

[[1 2]
 [3 4]
 [5 6]]

In [ ]:
r = range(1,10,1)     # range(start, stop, step)

for n in r:
  print(n)

1
2
3
4
5
6
7
8
9

In [ ]:
r = range(15)
print (r)

range(0, 15)

In [ ]:
a = np.arange(15)
print (a)
print (a.ndim)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]
1

In [ ]:
b = a.reshape(5,3,1)
print (b)

[[[ 0]
  [ 1]
  [ 2]]

 [[ 3]
  [ 4]
  [ 5]]

 [[ 6]
  [ 7]
  [ 8]]

 [[ 9]
  [10]
  [11]]

 [[12]
  [13]
  [14]]]

In [ ]:
x = np.array([1,2,3,4,5], dtype = np.int8)  # 1 byte
print (x)
print (x.itemsize)

[1 2 3 4 5]
1

In [ ]:
x = np.array([1.2,2.3,3.4,4.5,5.6], dtype = np.float32)  # 4 byte
print (x)
print (x.itemsize)

[1.2 2.3 3.4 4.5 5.6]
4

**NumPy Arithmetic Operations and Functions**

In [ ]:
a = np.array([1,2,3,4,5])
b = np.array([100,200,300,400,500])

In [ ]:
np.add(a, b)        # NumPy Add function

array([101, 202, 303, 404, 505])

In [ ]:
print (a+b)         # NumPy Add operator

[101 202 303 404 505]

In [ ]:
np.subtract(a,b)    # NumPy Subtract function

array([ -99, -198, -297, -396, -495])

In [ ]:
print(a-b)   # Numpy Subtract Operator

In [ ]:
print (a-b)         # NumPy Subtract operator

[ -99 -198 -297 -396 -495]

In [ ]:
np.multiply(a, b)   # NumPy Multiplication function

array([ 100,  400,  900, 1600, 2500])

In [ ]:
print (a*b)         # NumPy Multiplication operator

[ 100  400  900 1600 2500]

In [ ]:
np.divide(a,b)      # NumPy Division function

array([0.01, 0.01, 0.01, 0.01, 0.01])

In [ ]:
print (a/b)         # NumPy Division operator

[0.01 0.01 0.01 0.01 0.01]

In [ ]:
np.remainder(a,b)   # NumPy Remainder function

array([1, 2, 3, 4, 5])

In [ ]:
np.mod(a,b)         # NumPy Mod function

array([1, 2, 3, 4, 5])

In [ ]:
np.power(a,b)       # NumPy Power function

array([                   1,                    0,  4157753088978724465,
                          0, -2947007275342514511])

In [ ]:
a = np.array([1,2,3,4,5])
np.reciprocal(a)    # inverse of a value or a number

array([1, 0, 0, 0, 0])

In [ ]:
a = np.array([1,2,3,4,5])
print (np.sum(a))             # sum of all elements
print (np.sum(a, axis = 0))   # sum of each column
# print (np.sum(a, axis = 1))   # sum of each row

15
15